<h1>Welcome to Your Safe Recipe!</h1>

<hr>

<h2>Your favourites</h2>

<table>
  <tr>
    <% @current_user_bookmark.each do |a_bookmark| %>
    <td>
      <%= a_bookmark.recipe.name%>
    </td>
    <% end %>
  </tr>
</table>

<h2>Fresh new recipes</h2>

<h2>Popular recipes</h2>
