<h1>Welcome to Your Safe Recipe!</h1>

<hr>

<% if @current_user == nil %>

  <div>
  </div>

<% else %>
  <h2>Your favourites</h2>

  <table>
    <tr>
      <% @current_user_bookmark.each do |a_bookmark| %>
      <td>
        <img src="<%= a_bookmark.recipe.photo %>" width="200" height="270">
      </td>
      <td>
        <%= a_bookmark.recipe.name %>
      </td>
      <td>
        <a href="/recipes/<%= a_bookmark.recipe.id %>">Let make it!</a>
      </td>
      <% end %>
    </tr>
  </table>

<% end %>

<h2>Recommended for you with care</h2>


<h2>Fresh new recipes</h2>


